In [1]:
import pandas as pd
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [2]:
# reading excel or xlsx files
data = pd.read_excel('Data/articles.xlsx')
data.head()

,article_id,source_id,source_name,author,title,description,url,url_to_image,published_at,content,top_article,engagement_reaction_count,engagement_comment_count,engagement_share_count,engagement_comment_plugin_count
0,0,reuters,Reuters,Reuters Editorial,NTSB says Autopilot engaged in 2018 California...,The National Transportation Safety Board said ...,https://www.reuters.com/article/us-tesla-crash...,https://s4.reutersmedia.net/resources/r/?m=02&...,2019-09-03T16:22:20Z,WASHINGTON (Reuters) - The National Transporta...,0.0,0.0,0.0,2528.0,0.0
1,1,the-irish-times,The Irish Times,Eoin Burke-Kennedy,Unemployment falls to post-crash low of 5.2%,Latest monthly figures reflect continued growt...,https://www.irishtimes.com/business/economy/un...,https://www.irishtimes.com/image-creator/?id=1...,2019-09-03T10:32:28Z,The States jobless rate fell to 5.2 per cent l...,0.0,6.0,10.0,2.0,0.0
2,2,the-irish-times,The Irish Times,Deirdre McQuillan,"Louise Kennedy AW2019: Long coats, sparkling t...",Autumn-winter collection features designer’s g...,https://www.irishtimes.com/\t\t\t\t\t\t\t/life...,https://www.irishtimes.com/image-creator/?id=1...,2019-09-03T14:40:00Z,Louise Kennedy is showing off her autumn-winte...,1.0,NaN,NaN,NaN,NaN
3,3,al-jazeera-english,Al Jazeera English,Al Jazeera,North Korean footballer Han joins Italian gian...,Han is the first North Korean player in the Se...,https://www.aljazeera.com/news/2019/09/north-k...,https://www.aljazeera.com/mritems/Images/2019/...,2019-09-03T17:25:39Z,"Han Kwang Song, the first North Korean footbal...",0.0,0.0,0.0,7.0,0.0
4,4,bbc-news,BBC News,BBC News,UK government lawyer says proroguing parliamen...,"The UK government's lawyer, David Johnston arg...",https://www.bbc.co.uk/news/av/uk-scotland-4956...,https://ichef.bbci.co.uk/news/1024/branded_new...,2019-09-03T14:39:21Z,NaN,0.0,0.0,0.0,0.0,0.0

In [3]:
data.describe()

,article_id,top_article,engagement_reaction_count,engagement_comment_count,engagement_share_count,engagement_comment_plugin_count
count,10437.000000,10435.000000,10319.000000,10319.000000,10319.000000,10319.000000
mean,5218.000000,0.122089,381.395290,124.032949,196.236263,0.011629
std,3013.046714,0.327404,4433.344792,965.351188,1020.680229,0.268276
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2609.000000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,5218.000000,0.000000,1.000000,0.000000,8.000000,0.000000
75%,7827.000000,0.000000,43.000000,12.000000,47.500000,0.000000
max,10436.000000,1.000000,354132.000000,48490.000000,39422.000000,15.000000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10437 entries, 0 to 10436
Data columns (total 15 columns):
article_id                         10437 non-null int64
source_id                          10437 non-null object
source_name                        10437 non-null object
author                             9417 non-null object
title                              10435 non-null object
description                        10413 non-null object
url                                10436 non-null object
url_to_image                       9781 non-null object
published_at                       10436 non-null object
content                            9145 non-null object
top_article                        10435 non-null float64
engagement_reaction_count          10319 non-null float64
engagement_comment_count           10319 non-null float64
engagement_share_count             10319 non-null float64
engagement_comment_plugin_count    10319 non-null float64
dtypes: float64(5), int64(1), object(9)
memory usage: 1.2+ MB

In [5]:
# counting no of articles per source
# group by format: df.groupby(['column_to_group'])['column_to_count'].count()
# note: count counts unique items being grouped
data.groupby(['source_id'])['article_id'].count()

source_id
1                             1
abc-news                   1139
al-jazeera-english          499
bbc-news                   1242
business-insider           1048
cbs-news                    952
cnn                        1132
espn                         82
newsweek                    539
reuters                    1252
the-irish-times            1232
the-new-york-times          986
the-wall-street-journal     333
Name: article_id, dtype: int64

In [6]:
# summing no of reactions by publisher
# note: sum sums-up all items being grouped
data.groupby(['source_id'])['engagement_reaction_count'].sum()

source_id
1                                0.0
abc-news                    343779.0
al-jazeera-english          140410.0
bbc-news                    545396.0
business-insider            216545.0
cbs-news                    459741.0
cnn                        1218206.0
espn                             0.0
newsweek                     93167.0
reuters                      16963.0
the-irish-times              26838.0
the-new-york-times          790449.0
the-wall-street-journal      84124.0
Name: engagement_reaction_count, dtype: float64

In [7]:
# dropping a column
data = data.drop('engagement_comment_plugin_count', axis=1)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10437 entries, 0 to 10436
Data columns (total 14 columns):
article_id                   10437 non-null int64
source_id                    10437 non-null object
source_name                  10437 non-null object
author                       9417 non-null object
title                        10435 non-null object
description                  10413 non-null object
url                          10436 non-null object
url_to_image                 9781 non-null object
published_at                 10436 non-null object
content                      9145 non-null object
top_article                  10435 non-null float64
engagement_reaction_count    10319 non-null float64
engagement_comment_count     10319 non-null float64
engagement_share_count       10319 non-null float64
dtypes: float64(4), int64(1), object(9)
memory usage: 1.1+ MB

In [8]:
# creating a keyword flag
# keyword = 'crash'
# create for loop to isolate each title
# length = len(data)
# keyword_flags = []
# for x in range(0,length):
#     heading = data['title'][x]
#     if keyword in str(heading):
#         flag = 1
#     else:
#         flag = 0
#     keyword_flags.append(flag)

In [9]:
#  creating a function
def KeywordFlag(keyword, length, col):
    keyword_flags = []
    for x in range(0,length):
        heading = col[x]
        if keyword in str(heading):
            flag = 1
        else:
            flag = 0
        keyword_flags.append(flag)
    return keyword_flags

flags = KeywordFlag('murder', len(data), data['title'])
flags[-10:]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [10]:
data['keyword_flag'] = pd.Series(flags)

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10437 entries, 0 to 10436
Data columns (total 15 columns):
article_id                   10437 non-null int64
source_id                    10437 non-null object
source_name                  10437 non-null object
author                       9417 non-null object
title                        10435 non-null object
description                  10413 non-null object
url                          10436 non-null object
url_to_image                 9781 non-null object
published_at                 10436 non-null object
content                      9145 non-null object
top_article                  10435 non-null float64
engagement_reaction_count    10319 non-null float64
engagement_comment_count     10319 non-null float64
engagement_share_count       10319 non-null float64
keyword_flag                 10437 non-null int64
dtypes: float64(4), int64(2), object(9)
memory usage: 1.2+ MB

In [12]:
# sent_int = SentimentIntensityAnalyzer()
# text = data['title'][16]
# sent = sent_int.polarity_scores(text)
# sent

In [14]:
#  adding a for loop to extract sentiment
title_neg_sentiment = []
title_neu_sentiment = []
title_pos_sentiment = []

for x in range(0, len(data)):
    text = str(data['title'][x])
    sent_int = SentimentIntensityAnalyzer()
    sent = sent_int.polarity_scores(text)
    title_neg_sentiment.append(sent['neg'])
    title_pos_sentiment.append(sent['pos'])
    title_neu_sentiment.append(sent['neu'])

In [15]:
data['title_neg_sentiment'] = pd.Series(title_neg_sentiment)
data['title_pos_sentiment'] = pd.Series(title_pos_sentiment)
data['title_neu_sentiment'] = pd.Series(title_neu_sentiment)

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10437 entries, 0 to 10436
Data columns (total 18 columns):
article_id                   10437 non-null int64
source_id                    10437 non-null object
source_name                  10437 non-null object
author                       9417 non-null object
title                        10435 non-null object
description                  10413 non-null object
url                          10436 non-null object
url_to_image                 9781 non-null object
published_at                 10436 non-null object
content                      9145 non-null object
top_article                  10435 non-null float64
engagement_reaction_count    10319 non-null float64
engagement_comment_count     10319 non-null float64
engagement_share_count       10319 non-null float64
keyword_flag                 10437 non-null int64
title_neg_sentiment          10437 non-null float64
title_pos_sentiment          10437 non-null float64
title_neu_sentiment          10437 non-null float64
dtypes: float64(7), int64(2), object(9)
memory usage: 1.4+ MB

In [17]:
data.to_excel('Data/blogme_clean.xlsx', sheet_name='blogmedata')

C:\Users\ogonk\Anaconda3\lib\site-packages\xlsxwriter\worksheet.py:915: UserWarning: Ignoring URL 'https://cbsnews1.cbsistatic.com/hub/i/r/2019/09/05/26dd2d6d-119b-4f28-a5d4-3290286d025c/thumbnail/1200x630/dfe34d28071d8f1408756c4db9656083/cbsn-fusion-pope-francis-urges-continued-peace-in-mozambique-following-a-15-year-civil-war-thumbnail-1927384-640x360.jpg' with link or location/anchor > 255 characters since it exceeds Excel's limit for URLS
  force_unicode(url))
C:\Users\ogonk\Anaconda3\lib\site-packages\xlsxwriter\worksheet.py:915: UserWarning: Ignoring URL 'https://cbsnews1.cbsistatic.com/hub/i/r/2019/09/06/0f348495-762f-4499-a897-f2b51f6dfda0/thumbnail/1200x630/46edc901537163fe5454ff727466e708/cbsn-fusion-2020-daily-trail-markers-joe-kennedy-stumps-for-warren-while-considering-senate-bid-thumbnail-1927784.jpg' with link or location/anchor > 255 characters since it exceeds Excel's limit for URLS
  force_unicode(url))
C:\Users\ogonk\Anaconda3\lib\site-packages\xlsxwriter\worksheet.py:915: UserWarning: Ignoring URL 'https://dynaimage.cdn.cnn.com/cnn/w_1200/http%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F190906103859-forest-in-football-stadium---klaus-littmann-for-forest---the-unending-attraction-of-nature-wrthersee-stadium-klagenfurt--gerhard-maurer-6-super-tease.jpg' with link or location/anchor > 255 characters since it exceeds Excel's limit for URLS
  force_unicode(url))
C:\Users\ogonk\Anaconda3\lib\site-packages\xlsxwriter\worksheet.py:915: UserWarning: Ignoring URL 'https://cbsnews3.cbsistatic.com/hub/i/r/2019/08/29/52847e7a-c5d6-4614-803c-d20017522398/thumbnail/1200x630/17e4734d0428e028d00b34b87f846f6d/cbsn-fusion-the-washington-post-says-former-vice-president-and-2020-contender-joe-biden-wants-a-woman-or-a-person-of.jpg' with link or location/anchor > 255 characters since it exceeds Excel's limit for URLS
  force_unicode(url))
C:\Users\ogonk\Anaconda3\lib\site-packages\xlsxwriter\worksheet.py:915: UserWarning: Ignoring URL 'https://cbsnews1.cbsistatic.com/hub/i/r/2019/09/19/4483be92-15bb-42be-8442-ccbc798a7703/thumbnail/1200x630/3c6be9a15682b9190cefa7ccf1911c19/cbsn-fusion-barr-meets-with-lawmakers-on-capitol-hill-as-trump-considers-gun-legislation-proposals-thumbnail-349152.jpg' with link or location/anchor > 255 characters since it exceeds Excel's limit for URLS
  force_unicode(url))
C:\Users\ogonk\Anaconda3\lib\site-packages\xlsxwriter\worksheet.py:915: UserWarning: Ignoring URL 'https://cbsnews3.cbsistatic.com/hub/i/r/2019/10/01/61944f8d-8242-4d4d-9618-ddbbe3b83ea6/thumbnail/1200x630/74d571cd3952125b5a94cb107ab81ad2/cbsn-fusion-trumps-campaign-could-use-impeachment-inquiry-to-play-victim-card-report-says-thumbnail-360625-640x360.jpg' with link or location/anchor > 255 characters since it exceeds Excel's limit for URLS
  force_unicode(url))
C:\Users\ogonk\Anaconda3\lib\site-packages\xlsxwriter\worksheet.py:915: UserWarning: Ignoring URL 'https://cbsnews2.cbsistatic.com/hub/i/r/2019/10/01/c3d9f930-3a5b-496a-9ef6-6d0901853974/thumbnail/1200x630/987d4ff0dbdaa2ae131c0c9427ec2e29/cbsn-fusion-a-cbs-news-poll-shows-a-majority-of-americans-approve-of-an-impeachment-inquiry-into-president-trump.jpg' with link or location/anchor > 255 characters since it exceeds Excel's limit for URLS
  force_unicode(url))
C:\Users\ogonk\Anaconda3\lib\site-packages\xlsxwriter\worksheet.py:915: UserWarning: Ignoring URL 'https://cbsnews1.cbsistatic.com/hub/i/r/2019/10/01/d4cbd38e-f5a8-42fd-81a0-eeb2a87d4cd4/thumbnail/1200x630/a2e1bbaf170427f9554465df109bcbcc/cbsn-fusion-saudi-arabia-crown-prince-mohammad-bin-salman-jamal-khashoggi-norah-odonnell-interview-thumbnail-360644.jpg' with link or location/anchor > 255 characters since it exceeds Excel's limit for URLS
  force_unicode(url))
C:\Users\ogonk\Anaconda3\lib\site-packages\xlsxwriter\worksheet.py:915: UserWarning: Ignoring URL 'https://cbsnews1.cbsistatic.com/hub/i/r/2019/10/02/f111d7ae-66ee-473e-806e-e236fd4e7f57/thumbnail/1200x630/66a47b8aea60f46f7b614bfefb88f13a/cbsn-fusion-marijuana-is-on-the-menu-at-the-nations-first-cannabis-cafe-in-west-hollywood-california-thumbnail-361485.jpg' with link or location/anchor > 255 characters since it exceeds Excel's limit for URLS
  force_unicode(url))